# Week 1 - Machine Learning Basics

This notebook includes:
- Importing necessary libraries
- Reading dataset using read_csv()
- Displaying first 5 rows
- Printing dataset information

## 1. Import Libraries
Import the necessary libraries:  
- pandas for data manipulation  
- numpy for numerical operations  
- matplotlib and seaborn for visualization

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Read the Dataset

Use `read_csv()` to load the dataset from a file path.  
Replace `'your_file.csv'` with your actual file name.

In [3]:
df = pd.read_csv('/content/crop.csv')  # Example: 'data.csv'

## 3. Display First 5 Rows

Use `head()` to view the top 5 records from the dataset.

In [6]:
print("First 5 rows of the dataset:")
print(df.head())

First 5 rows of the dataset:
    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

## 4. Dataset Information

Use `info()` to understand the structure, column types, and missing values.

In [7]:
print("Dataset Information:")
print(df.info())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB
None